<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUAC学科ツール 単座チェック</title>
    <link rel="stylesheet" href="../static/FL1C0040.css">
</head>

<body>
    <header>
        <h1>フライト管理ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>単座チェック</h2>
            <div class="student-info">
                <p><strong>氏名:</strong>{{ gakuseiName }}</p>
            </div>
            <form method="post" action="/FL_db052">
                <div class="data-section">
                    <br>
                    <p>～ソロCHK～</p>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>項目</th>
                                <th>実施年月日</th>
                                <th>実施教官</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>ノーダイブ</th>
                                {% if rireki1[0][0] == 0 %}
                                <td>{{ rireki1[0][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki1[0][1] }}</td>
                                {% endif %}
                                <td>{{ rireki1[0][2] }}</td>
                            </tr>
                            <tr>
                                <th>横風着陸</th>
                                {% if rireki1[1][0] == 0 %}
                                <td>{{ rireki1[1][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki1[1][1] }}</td>
                                {% endif %}
                                <td>{{ rireki1[1][2] }}</td>
                            </tr>
                            <tr>
                                <th>オーバーヘッド</th>
                                {% if rireki1[2][0] == 0 %}
                                <td>{{ rireki1[2][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki1[2][1] }}</td>
                                {% endif %}
                                <td>{{ rireki1[2][2] }}</td>
                            </tr>
                            <tr>
                                <th>失速</th>
                                {% if rireki1[3][0] == 0 %}
                                <td>{{ rireki1[3][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki1[3][1] }}</td>
                                {% endif %}
                                <td>{{ rireki1[3][2] }}</td>
                            </tr>
                            <tr>
                                <th>口述</th>
                                {% if rireki1[4][0] == 0 %}
                                <td>{{ rireki1[4][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki1[4][1] }}</td>
                                {% endif %}
                                <td>{{ rireki1[4][2] }}</td>
                            </tr>
                            <tr>
                                <th>判定</th>
                                {%if rireki1[5] == 0 %}
                                <th class="err">ＯＫ</th>
                                {% else %}
                                <th class="err">ＮＧ</th>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    {% if rireki1[5] == 1 %}
                    {% for riyuu in rireki1[6] %}
                    <p class="err">※ＮＧ事由：{{ riyuu }}</p>
                    {% endfor %}
                    {% endif %}
                    <br>
                    <p>～23移行CHK～</p>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>項目</th>
                                <th>実施年月日</th>
                                <th>実施教官</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Ａ章</th>
                                {% if rireki2[0][0] == 0 %}
                                <td>{{ rireki2[0][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki2[0][1] }}</td>
                                {% endif %}
                                <td>{{ rireki2[0][2] }}</td>
                            </tr>
                            <tr>
                                <th>Ｂ章</th>
                                {% if rireki2[1][0] == 0 %}
                                <td>{{ rireki2[1][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki2[1][1] }}</td>
                                {% endif %}
                                <td>{{ rireki2[1][2] }}</td>
                            </tr>
                            <tr>
                                <th>２３移行口述</th>
                                {% if rireki2[2][0] == 0 %}
                                <td>{{ rireki2[2][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki2[2][1] }}</td>
                                {% endif %}
                                <td>{{ rireki2[2][2] }}</td>
                            </tr>
                            <tr>
                                <th>学科</th>
                                {% if rireki2[3][0] == 0 %}
                                <td>{{ rireki2[3][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki2[3][1] }}</td>
                                {% endif %}
                                <td>{{ rireki2[3][2] }}</td>
                            </tr>
                            <tr>
                                <th>判定</th>
                                {%if rireki2[4] == 0 %}
                                <th class="err">ＯＫ</th>
                                {% else %}
                                <th class="err">ＮＧ</th>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    {% if rireki2[4] == 1 %}
                    {% for riyuu2 in rireki2[5] %}
                    <p class="err">※ＮＧ事由：{{ riyuu2 }}</p>
                    {% endfor %}
                    {% endif %}
                    <br>
                    <p>～Discus移行CHK～</p>
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>項目</th>
                                <th>実施年月日</th>
                                <th>実施教官</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>アーカス搭乗</th>
                                {% if rireki3[0][0] == 0 %}
                                <td>{{ rireki3[0][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki3[0][1] }}</td>
                                {% endif %}
                                <td>{{ rireki3[0][2] }}</td>
                            </tr>
                            <tr>
                                <th>口述</th>
                                {% if rireki3[1][0] == 0 %}
                                <td>{{ rireki3[1][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki3[1][1] }}</td>
                                {% endif %}
                                <td>{{ rireki3[1][2] }}</td>
                            </tr>
                            <tr>
                                <th>自家用</th>
                                {% if rireki3[2][0] == 0 %}
                                <td>{{ rireki3[2][1] }}</td>
                                {% else %}
                                <td class="err">{{ rireki3[2][1] }}</td>
                                {% endif %}
                                <td>{{ rireki3[2][2] }}</td>
                            </tr>
                            <tr>
                                <th>判定</th>
                                {%if rireki3[3] == 0 %}
                                <th class="err">ＯＫ</th>
                                {% else %}
                                <th class="err">ＮＧ</th>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    {% if rireki3[3] == 1 %}
                    {% for riyuu3 in rireki3[4] %}
                    <p class="err">※ＮＧ事由：{{ riyuu3 }}</p>
                    {% endfor %}
                    {% endif %}

                    </tbody>



                    <div class="button-group">
                        {% if session['authority'] in [0,1] %}
                        <button type="button" onclick="location.href='/FL_menu01'" class="menu-button">メニューに戻る</button>
                        {% else %}
                        <button type="button" onclick="location.href='/FL_db051'" class="menu-button">戻る</button>
                        {% endif %}
                    </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>