<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUACフライト管理ツール ユーザー情報照会</title>
    <link rel="stylesheet" href="../static/FL1C0040.css">
</head>

<body>
    <header>
        <h1>フライト管理ツール</h1>
    </header>

    <main>
        <section class="options">
            <h2>ユーザー情報照会</h2>
            <form method="post" action="/FL_db001">
                <div class="data-section">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>学籍番号</th>
                                <th>氏名</th>
                                <th>権限</th>
                                {% if session['authority'] in [8,9] %}
                                <th>最終ログイン日時</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in userList %}
                            <tr>
                                <td>{{ list[0] }}</td>
                                <td>{{ list[1] }}</td>
                                <td>{{ list[2] }}</td>
                                {% if session['authority'] in [8,9] %}
                                <td>{{ list[3] }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="button-group">
                    <button type="button" onclick="location.href='/FL_menu01'" class="menu-button">戻る</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Yuichi Taniguchi</p>
    </footer>
</body>

</html>